* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background: linear-gradient(320deg, #EF6461, #f7ab33, #EF6461);
  color: #fff;
  width: 100%;
  padding: 0.7rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 2px 5px 10px grey; */
}

a{
  color:rgb(201, 108, 66);
}

header img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgb(201, 108, 66);
  margin: 5px 30px 5px 10px;
}

h1 {
  font-family: "Noto Serif", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

hr {
  height: 2px;
  background-color: rgb(165, 165, 165);
  border: none;
  width: 100%;
}

main {
  width: 100%;
  padding: 0;
  margin: 0;
}

main div {
  width: 100%;
}

ul {
  line-height: 2rem;
}

ul li {
  font-size: 1rem;
}

main p {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -5px;
  text-align: center;
}

footer {
  background: linear-gradient(320deg, #EF6461, #f7ab33, #EF6461);
  color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 0.7em;
  text-align: center;
}
