@media only screen and (min-width: 560px) {
  body {
    padding: 1rem;
  }
  header h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  
  header h2 {
    font-size: 1.2rem;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  

  section:nth-child(3){
    grid-column: span 2;
  }

  main div.principle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    height: 2em;
  }

  main div {
    padding: 0.5rem;
  }

  main div.info{
    margin-bottom: 0.1rem;
  }

  main span.company {
    font-weight: bold;
    font-size: 1rem;
  }

  .info a, p {
    font-size: 1rem;
  }

  footer {
    margin-top: -1.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
} /* end of media query */
