/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  .wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "event hero s1"
      "weather hero s2"
      "join news news";
    grid-gap: 1px;
  }

  .hero {
    background-image: url("../images/hero-assets/hero915.jpg");
  }

  .hero-content {
    margin-top: 2rem;
  }

  section h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }

  section h3,
  section p,
  section a {
    font-size: 1rem;
  }

  section h3 {
    letter-spacing: 0;
    font-size: 1.2rem;
  }

  .event {
    padding: 5px;
    font-size: 1em;
  }

  .event img {
    float: none;
    margin: 0;
  }

  .event h3 {
    font-size: 1rem;
    margin: 0;
  }

  .event h4 {
    font-size: 0.8rem;
  }

  .event img {
    width: 60%;
    margin-top: 0.7rem;
  }

  .spotlight1 img,
  .spotlight2 img {
    width: 40%;
    padding-top: 1rem;
  }

  .spotlight1 em,
  .spotlight2 em {
    color: #000;
  }

  #spot1email,
  #spot2email,
  #spot1phone,
  #spot2phone {
    font-size: 0.9rem;
  }

  .join button {
    margin: 25% 0 10% 0;
  }

  .news p {
    font-size: 1rem;
  }

  /*----------- DATE --------------*/
  .social {
    padding: 0;
    margin: 0;
  }

  /*----------- NAVIGATION --------------*/
  nav ul {
    display: flex;
  }

  nav ul li a {
    padding: 0.5rem 2vw;
  }

  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
  }

  nav ul div {
    display: flex;
    padding: 5px 0 0 0;
  }

  .icon {
    width: 25px;
    margin-left: 1em;
  }

  footer {
    margin-top: 5px;
  }
  footer div.footer-wrapper {
    grid-template-columns: 0.3fr 2.7fr 1fr;
  }

  .student-info {
    font-size: 0.9em;
  }

  form fieldset label,
  form fieldset div {
    margin: 0 3rem;
  }

  form input.submitBtn {
    margin: 0 19%;
  }

  div.contact_form fieldset{
    padding: 0;
  }

  div.contact_form input.submitBtn{
    margin: 0.7rem 12%;
  }

  /* DIRECTORY PAGE */
  .dir-lrg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
} /* end large */
