@media only screen and (min-width: 35rem) {
  /*----------- HEADER --------------*/

  header {
    display: grid;
  }

  header picture {
    grid-row: 1 / 3;
    margin-right: 1.5em;
  }

  h1 {
    font-size: 1.8em;
    grid-row: 1;
  }

  h2 {
    font-size: 1em;
  }

  header img {
    height: 100px;
  }

  /*----------- BODY --------------*/
  main section {
    text-align: left;
    margin: 0.2em;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero"
      "news news"
      "s1 s2"
      "join join"
      "event weather";
  }

  section {
    align-items: start;
  }

  section h2 {
    font-size: 1.4rem;
  }

  section h3,
  section p {
    font-size: 1.1rem;
  }

  section h4 {
    letter-spacing: 0;
    font-size: 1.1rem;
  }

  section a {
    font-size: 1rem;
  }

  .hero {
    grid-area: hero;
    background-image: url("../images/hero-assets/hero760.jpg");
    background-position: center 95%;
  }

  .hero button a {
    font-size: 1rem;
  }

  .event img {
    margin: 0.2rem 0 0 0;
  }

  .event h3 {
    margin: 0.8rem 0 1.25rem 0;
  }

  .event p {
    padding: 0 1rem;
  }

  .join button a {
    font-size: 1.2rem;
  }

  .news {
    grid-area: news;
  }

  .spotlight1 {
    grid-area: s1;
  }

  .spotlight2 {
    grid-area: s2;
  }

  .join {
    grid-area: join;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }

  footer div.footer-wrapper {
    display: grid;
    grid-template-columns: 0.4fr 2.6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "logo ca cc"
      "logo ca m";
    width: 95%;
    align-items: center;
    font-size: 1.1em;
  }

  .tiny-logo {
    grid-area: logo;
  }

  .chamber-address {
    grid-area: ca;
    text-align: left;
  }

  .chamber-contact {
    grid-area: cc;
    text-align: right;
  }

  .chamber-map {
    grid-area: m;
    text-align: right;
  }

  footer img {
    margin-bottom: 0;
  }

  .student-info {
    font-size: 0.8em;
  }

  /* DISCOVER PAGE */
  .cambs_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 0;
  }

  .cambs_imgs picture:last-child {
    grid-column: 1 / span 2;
    width: 50%;
    justify-self: center;
  }

  .cambs_img_caption {
    margin: 0 1rem;
  }

  /* JOIN PAGE */
  
  div.join_page {
    display: flex;
    flex-direction: row-reverse;
  }

  main section.membership {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    padding: 2rem 1rem;
    height: auto;
  }

  main section.membership h3 {
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }

  main section.joinform {
    width: 55%;
  }

  form {
    margin: 0 auto;
  }

  .joinform h3 {
    text-align: center;
  }

  form input.submitBtn {
    margin: 0 8%;

  } 

  /* DISCOVER PAGE */
  .dir {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  /* LIST VIEW */

  /* apply class in .dir */
   .list-layout-med {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  /* apply class in .dir1 */
  .list-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  } 

  /* CONTACT */
.gmap_canvas {
  width: 500px;
  height: 220px;
}

.getintouch {
  display: flex;
  gap: 2rem;
}

div.contact_form{
  margin-top: 0;
}

/* div.contact_form input.submitBtn{
  margin: 0 12%;
} */



} /* End of Medium */


