* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #e85e24;
  --secondary-color: #f2972d;
  --accent1-color: #fcecc0;
  --accent2-color: #a3a2a1;
}

body {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  max-width: 960px;
}

header,
footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}

header {
  flex-flow: column wrap;
}

header h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 0.4em 5px 5px 0;
  font-family: "Marcellus", serif;
  text-align: center;
}

h2 {
  padding: 0 0 0.5em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}

h3,
h4,
h5 {
  font-family: "Marcellus", serif;
  letter-spacing: 3px;
}

h4,
h5 {
  font-size: 1em;
}

hr {
  height: 2px;
  background-color: var(--accent1-color);
  border: none;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header picture img {
  height: 80px;
  padding: 0.5em;
}

/*----------- NAVIGATION --------------*/
nav {
  background-image: linear-gradient(#f2972d, #e85e24);
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--accent1-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 2px var(--accent1-color);
}

nav ul li a {
  display: block;
  color: #eee;
  padding: 0.5rem 2vw;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

nav ul li a:hover {
  background-color: var(--accent1-color);
  color: #333;
}
nav ul li.active a {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
}

a {
  color: #ec4c0d;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/*----------- DATE --------------*/
.date-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}

#currentDate {
  background-color: #fff;
  justify-self: center;
  padding: 0.5em 1em;
  border-radius: 5px 5px 0 0;
  border: 2px dotted var(--accent1-color);
  font-size: 0.8em;
  color: #000;
}

.social {
  justify-self: flex-end;
  padding: 0 0.5em;
  margin: 2px;
  align-self: center;
}

.social img:hover {
  filter: drop-shadow(1px 1px 2px var(--accent1-color));
}

.icon {
  width: 25px;
}

/*----------- MAIN --------------*/

main {
  display: block;
  text-align: center;
}

/*----------- MESSAGE --------------*/

.announcement {
  display: block;
  background-color: var(--accent2-color);
  padding: 1rem;
  color: #fff;
  letter-spacing: 2px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*----------- w06 HERO SRC IMAGE----------*/
.herosrc img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/*----------- MAIN SECTION --------------*/
main section {
  padding: 1em;
  margin: 0.5em 2vw;

  border: 1px solid #eee;
  background-color: #fdfdfb;
  font-weight: 550;
  height: 100%;
  text-align: left;
}

main section a {
  letter-spacing: 0;
}

section h2 {
  font-size: 1.2rem;
  font-family: "Marcellus", serif;
  text-align: center;
}

section h3 {
  font-size: 0.9rem;
}

section.placeholder h3 {
  font-size: 1.2rem;
}

.align-left {
  text-align: left;
}

.bold {
  font-weight: 700;
}

/*-- MAIN SECTION - HERO -- */
.hero {
  background-image: url("../images/hero-assets/hero360.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem 2vw;
  text-align: center;
  width: 80%;
  margin: 0.5rem 10% auto 10%;
}

.hero-content p {
  font-size: 1.1rem;
}

section button,
.hero .btn,
.join .btn {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1vw;
  border: 0;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 0 5px var(--accent2-color);
}

/*-- MAIN SECTION - EVENT -- */

.event {
  padding: 0;
  text-align: center;
}

.event h4 {
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}

.event h2 {
  padding-top: 1rem;
}

.event img {
  width: 30%;
  padding-bottom: 1rem;
}

.event p {
  padding: 0 10px;
}

/*-- MAIN SECTION - WEATHER -- */

section.weather {
  text-align: center;
}

.weathervalue {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.tempWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast {
  margin-top: 0.4rem;
  padding: 0;
}

.weather img {
  padding-right: 5px;
  margin-top: 0.7rem;
}

.weather h2 {
  margin: 0;
}

.weather h3 {
  align-self: flex-end;
  font-size: 1.5rem;
  margin: 2rem 0 0 0.6rem;
}

/*-- MAIN SECTION - JOIN -- */

.join {
  text-align: center;
}

.join button {
  display: block;
  width: 100%;
  box-shadow: 0 0 6px var(--accent2-color);
  margin-bottom: 1rem;
}

/*-- MAIN SECTION - NEWS -- */

.news h2 {
  margin-top: 0;
}

/*-- MAIN SECTION - SPOTLIGHT -- */

.spotlight1 h2,
.spotlight2 h2 {
  color: #000;
  margin-top: 0;
}

.spotlight1,
.spotlight2 {
  background-image: linear-gradient(#f2ce2d27, #f0a90f);
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
}

.spotlight1 img,
.spotlight2 img {
  width: 40%;
}

/*----------- FOOTER --------------*/

footer {
  background-color: #fdf1c9;
  /* background-image: linear-gradient(#f2ce2d27, #f0a90f); */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
}

footer div {
  margin: 0.5em;
}

footer img {
  height: 50px;
  margin-bottom: 10px;
}

.student-info {
  font-size: 0.7em;
}

.my_name {
  letter-spacing: 2px;
  font-size: 1.2em;
}

/* DISCOVER - Lazy Load Images */
.cambs_imgs img[data-src] {
  filter: blur(0.2em);
}

.cambs_imgs img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.cambs_imgs {
  display: grid;
  grid-template-columns: 1fr;
}

.cambs_imgs img {
  width: 100%;
}

.cambs_imgs img:hover {
  box-shadow: 0 0 2rem var(--accent2-color);
}

.cambs_img_caption {
  align-self: center;
}

/* JOIN PAGE */
/*----------- MEMBERSHIP --------------*/

main section.membership h3 {
  font-size: 1.2rem;
  text-align: center;
}

main section.membership {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.9rem;
}

main section.membership div {
  width: 95%;
  box-shadow: 0px 5px 6px rgba(85, 85, 85, 0.281);
  border-radius: 0.5rem;
  padding: 0;
  margin: 0 auto;
}

main section.membership div h1{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

div.mem_free h1{
  background-color: var(--accent1-color);
}

div.mem_bronze h1{
  background-color: var(--secondary-color);
  color: #fff;
}

div.mem_silver h1{
  background-color: var(--accent2-color);
  color: #fff;
}

div.mem_gold h1{
  background: linear-gradient(135deg, #ec840d, #fcecc0, #e8aa24);
}

main section.membership div {
  width: 100%;
}

main section.membership div p{
  font-size: .9rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 1.1rem;
}

/*----------- FORM --------------*/

.joinform h4 {
  font-size: 1.2rem;
  text-align: center;
}

form fieldset {
  margin: 2rem 0;
  border: 2px solid var(--accent1-color);
  border-radius: 10px;
  padding: 0.5rem 8%;
}

form legend {
  color: var(--primary-color);
  font-weight: 600;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #555;
  font-size: 0.9rem;
  font-weight: 600;
}

form label.top input,
form label.top select,
textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid var(--accent1-color);
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  /* background-color: rgb(252, 235, 190, 0.3); */
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  /* background: linear-gradient(90deg, #fceec9, rgba(236, 174, 39, 0.493)); */
  background-color: rgb(252, 235, 190, 0.3);
}

form label.top input:required:invalid,
form label.top input:invalid,
textarea:invalid {
  border-right: var(--secondary-color) solid 6px;
}

form label.top input:required:valid {
  /* border-right: var(--accent-color) solid 6px; */
  background-color: white;
}

form label.top input[type="text"]:focus,
form label.top input[type="email"]:focus,
form label.top input[type="tel"]:focus,
textarea:focus {
  border: 3px solid var(--secondary-color);
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--accent2-color);
  font-size: 0.8rem;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--accent2-color);
  font-size: 0.8rem;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--accent2-color);
  font-size: 0.8rem;
}

.req {
  color: var(--primary-color);
}

.hidden {
  display: none;
}
