* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2a2e32;
  --secondary-color: #454a4f;
  --tertiary-color: rgb(111, 111, 111);
  --accent1-color: #d4ccb9;
  --accent2-color: #131519;
}

body {
  font-size: 16px;
  font-family: "Georama", sans-serif;
  margin: 0 auto;
  letter-spacing: 1px;
}

header,
footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header {
  background-image: linear-gradient(#454a4f, rgb(42, 46, 50));
}

footer {
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind Siliguri", sans-serif;
}

/*----------- NAVIGATION --------------*/

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--accent1-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* box-shadow: 0px 2px 2px var(--accent1-color); */
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0.5rem 2vw;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

nav ul li a:hover {
  color: var(--accent1-color);
}

nav ul li.active a {
  color: #fff;
  margin: 0;
  border-bottom: 2px solid var(--tertiary-color);
}

a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
}

a:hover {
  color: var(--accent1-color);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 16%;
  left: 0;
  background-color: rgb(42, 46, 50);
  width: 100%;
  margin: 0;
  line-height: 2rem;
  z-index: 2;
}

#primaryNav li.open{
  font-size: 5rem;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/*----------- MAIN --------------*/

.wrapper {
  background-color: var(--secondary-color);
  max-width: 960px;
}

main section {
  background-color: var(--tertiary-color);
  margin: 0 auto 0.2rem auto;
  padding: 1.5rem;
  color: #fff;
}

main section:last-child {
  margin-bottom: 0;
}

/*----------- MESSAGE --------------*/

.announcement {
  display: block;
  height: auto;
  /* overflow-y: auto; */
  background-color: var(--tertiary-color);
  padding: 1rem;
  color: #fff;
  letter-spacing: 2px;
}

#close_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close_btn i{
  font-size: 1.5rem;
}

#close_btn h3 {
  padding: 0;
  margin: 0;
}

.mssg hr{
  border: none;
  height: 1px;
  background-color: var(--secondary-color);
}

.show {
  display: block;
}

.hide {
  display: none;
}


/*-- MAIN SECTION - HERO -- */
.hero {
  background-image: url("../images/hero_assets/hero360.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content {
  background-image: linear-gradient(to right, rgb(167, 154, 154), rgba(42, 46, 50, 0));
  position: relative;
  left: -1.5rem;
  padding: 0.8rem 4vw;
  width: 100%;
  margin: 0.5rem 10% auto 0;
  color: #fff;
}

.hero-content p {
  font-size: 1.1rem;
}

section button,
.hero .btn,
.join .btn {
  background-image: linear-gradient(#454a4f, rgb(42, 46, 50));
  border-radius: 5px;
  color: #fff;
  padding: 0.8rem;
  border: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:active {
  box-shadow: 0 0 5px var(--accent1-color);
}

/*--------- MAIN - TEMPLE -------*/

section.temple p{
  font-size: 1rem;
}

section.temple img{
  width: 100%;
}

/*--------- MAIN - WEATHER -------*/

section.weather {
  text-align: center;
}

.weathervalue {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.weather h2 {
  text-align: left;
}

.weather h3 {
  font-size: 2rem;
  margin: 0 auto;
}

p.forecast, p.forecast_1, p.forecast_2, p.forecast_3 {
  font-size: 1.5rem;
}

.three_day_wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.card {
  border: 2px solid var(--secondary-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.267), var(--primary-color));
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
}

.three_day_wrapper h3 {
  font-size: 2rem;
}

/*----------- TEMPLES PAGE --------------*/

/*-- MAIN SECTION - TEMPLE -- */
.hero-temples {
  background-image: url("../images/herot_assets/herot360.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
}

.herot {
  background-image: linear-gradient(to right, rgba(162, 154, 167, 0.504), rgba(42, 46, 50, 0));
  top: 40%;
}

.dir{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.dir h3 {
  font-size: 1.5rem;
}

.temple_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liked{
  color: var(--accent2-color);
}

.temple_item{
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem;

}

.temple_title p{
  font-size: 0.7rem;
  margin: 0.2rem;
}

/*----------- RESERVATION PAGE --------------*/
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.rescontent{
  background-color:rgba(111, 111, 111, 0.799);
  padding: 1rem;
  margin: 0 auto;
}

fieldset {
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.7rem;
  justify-content: center;
  align-items: start;
}

fieldset h2{
  font-size: 1rem;
}

form label.booking{
  display: block;
  padding-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

form label.booking input,
form label.booking select,
textarea {
  /* -webkit-appearance: none; */
  display: block;
  font-size: 1rem;
  border: 1px solid var(--accent1-color);
  border-radius: 4px;
  padding: 0.5rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  margin: 0.3rem 0;
}

form input.submitBtn {
  display: block;
  border: none;
  background-image: linear-gradient(#454a4f, rgb(42, 46, 50));
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 0 0.5%;
  width: 100%;
  max-width: 20rem;
}

form input.submitBtn:hover{
  box-shadow: 0 5px 7px var(--secondary-color);
}

.confirmed{
    background-image: linear-gradient(to right, rgb(167, 154, 154), rgba(42, 46, 50, 0));
    padding: 1rem;
    text-align: center;
}

/*----------- SERVICES PAGE --------------*/
.services{
  background-color:#454a4fbc;
  border-radius: 5px;
  margin: 1rem 0;
  line-height: 1.5rem;
  padding: 0.7rem;
  font-size: 1.1rem;
  width: 100%;
}

.services-content{
  height: 100%;
  overflow-block: ;
}

/*----------- RECEPTION PAGE --------------*/
.reception{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  
}

.rec-item{
  background-color: #454a4f5e;
  color: #fff;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

/*----------- MISSIONARIES PAGE --------------*/
.missionaries{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  background-color: #454a4f9c;
}

main section#mis-item, main section#mis-item2 {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 2rem;
}

main section#mis-item3{
  background-color: transparent;
}

main section#mis-item3 p img{
  width: 100%;
}

fieldset.contactus{
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 100%;
  margin: 0 auto;
}

fieldset legend h2{
  font-size: 1.5rem;
  /* margin-bottom: 0; */
}

input.contactbtn{
  margin-top: 5rem;
}


/*----------- FOOTER --------------*/

footer {
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
}

footer div {
  margin: 0.5em;
}

footer img {
  height: 50px;
  margin: 0 10px 10px 0;
}

.temple-address h3 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.student-info {
  font-size: 0.7em;
}

.my_name {
  letter-spacing: 2px;
  font-size: 1.2em;
}
