@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  header {
    flex-flow: row wrap;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 1em;
  }

  header img {
    width: 5em;
  }
  /*----------- NAVIGATION --------------*/
  nav ul {
    flex-flow: row nowrap;
  }

  nav ul li a {
    padding: 0.5rem 1.5rem;
  }

  /*----------- COLOR SCHEME --------------*/
  .palette {
    transform: rotate(0deg);
    width: 80%;
    margin: 0;
  }
}
