* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #e85e24;
  --secondary-color: #f2972d;
  --accent1-color: #fcebbe;
  --accent2-color: #a3a2a1;
}

body {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  max-width: 960px;
}

header,
footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}

header {
  flex-flow: column wrap;
}

header h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.4em;
  padding: 0.3em 0 0 0;
  font-family: "Marcellus", serif;
  text-align: center;
}

h2 {
  padding: 0 0 0.5em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}

h3,
h4,
h5 {
  font-family: "Marcellus", serif;
  letter-spacing: 3px;
}

h4,
h5 {
  font-size: 1em;
}

hr {
  height: 2px;
  background-color: var(--accent1-color);
  border: none;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header img {
  width: 4em;
  padding: 0.5em;
}

/*----------- NAVIGATION --------------*/
nav {
  background-image: linear-gradient(#f2972d, #e85e24);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-shadow: 0px 5px 10px var(--accent1-color);
}

nav ul li a {
  display: block;
  color: #eee;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

nav ul li a:hover {
  background-color: var(--accent1-color);
  color: #333;
}
nav ul li.active a {
  background-color: var(--secondary-color);
  color: #fff;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/*----------- MAIN --------------*/

main {
  display: block;
  text-align: center;
}

main section,
div {
  padding: 1em;
}

main section h3 {
  text-align: center;
}

.align-left {
  text-align: left;
}

.bold {
  font-weight: 700;
}

/*----------- FOOTER --------------*/

footer {
  background-color: var(--accent1-color);
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  justify-content: center;
  font-weight: 600;
  font-size: 0.6em;
}

.attribution {
  font-size: 0.5em;
  text-decoration: none;
}

/*----------- PAGE: COLOR SCHEME --------------*/

.palette {
  box-shadow: 5px 5px 8px var(--accent2-color);
  width: 100%;
  transform: rotate(90deg);
  margin: 7em 0;
}

.scenarios {
  font-weight: normal;
}
